/bin/
target/generated-sources/antlr4/Grammar/C99A11.java
target/generated-sources/antlr4/Grammar/C99A11.tokens
target/generated-sources/antlr4/Grammar/C99A17.java
target/generated-sources/antlr4/Grammar/C99A17.tokens
target/generated-sources/antlr4/Grammar/C99A1G.java
target/generated-sources/antlr4/Grammar/C99A1G.tokens
target/generated-sources/antlr4/Grammar/C99A1GBaseListener.java
target/generated-sources/antlr4/Grammar/C99A1GListener.java
target/generated-sources/antlr4/Grammar/C99A2.java
target/generated-sources/antlr4/Grammar/C99A3Lexer.java
target/generated-sources/antlr4/Grammar/C99A3Lexer.tokens
src/Executables/Test.java
/Test/*
test.sfc
